@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  @apply bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

@layer base {
  input, select, textarea {
    @apply bg-transparent dark:bg-slate-800/50;
  }
  
  select option {
    @apply bg-white dark:bg-slate-800 text-slate-900 dark:text-white;
  }
}

